.todo-app {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "aside header header header header"
        "aside status status status status"
        "aside todo todo todo todo";
}